<div class = "w-[800px] relative" [ngClass]="{
  'h-[480px]': state == ConnectionState.InGame,
  'h-[400px]': state != ConnectionState.InGame
}">
  
  <app-players 
    *ngIf="state == ConnectionState.InGame"
    [players]="players" 
    [canShoot]="canShoot" 
    [userId]="userId" 
    [stripes]="stripesPocketed"
    [solids]="solidsPocketed"
  ></app-players>

  <canvas 
    #canvasRef 
    (click)="onClick()" 
    (mousemove)="onMouseMove($event)" 
    class="w-[800px] h-[400px]"
  ></canvas>

  @if (state !== ConnectionState.InGame) {
    <div class="absolute top-0 left-0 w-[800px] h-[400px] flex items-center justify-center bg-black/70 rounded-3xl">
      <div class="text-center text-2xl">
        <fa-icon [icon]="['fas', 'spinner']" class="text-4xl" [animation]="'spin'" /> <br>
        @switch (state) {
          @case (ConnectionState.Disconnected) {
            Connecting to the game server.
            <div class="text-sm text-blue-500">
              If it takes too long, please check your internet connection.
            </div>
          }
          @case (ConnectionState.Error) {
            An error occurred while connecting to the game server.
            <div class="text-sm text-blue-500">
              Please check your internet connection and try again.
            </div>
          }
          @case (ConnectionState.InWaitingRoom) {
            Waiting for other players to join.
            <div class="text-sm text-blue-500">
              The game will start when 2 players are connected.
            </div>
          }
          @case (ConnectionState.Connected) {
            You are already playing in another browser tab.
            <div class="text-sm text-blue-500">
              You can only play in one tab at a time.
            </div>
          }
        }
      </div>
    </div>
  }

</div>

<div class="mt-6 flex justify-start pr-2">
  <label class="flex items-center gap-3 cursor-pointer select-none bg-blue-950 p-2 rounded-md shadow-lg transition-colors duration-200">
    <input
      type="checkbox"
      [(ngModel)]="isMuted"
      class="sr-only peer"
      (change)="toggleMute()"
    />
    <div
      class="relative w-12 h-7 bg-gray-400 rounded-full transition-colors duration-200 peer-checked:bg-blue-500 peer-focus:ring-2 peer-focus:ring-blue-400"
    >
      <div
        class="absolute top-1 left-1 w-5 h-5 bg-white rounded-full shadow transition-transform duration-200"
        [ngClass]="{'translate-x-5': !isMuted, 'translate-x-0': isMuted}"
      ></div>
    </div>
    <span class="flex items-center text-gray-100 font-semibold text-base">
      Audio {{ isMuted ? 'Off' : 'On' }}
    </span>
  </label>
</div>