:host ::ng-deep {
  .paginator {
    --p-paginator-background: #1a295a;
    --p-paginator-border-radius: 0;
    --p-paginator-nav-button-background: #4960a8;
    --p-paginator-nav-button-selected-background: rgb(85, 120, 235);
    --p-paginator-nav-button-hover-background: var(--p-paginator-nav-button-selected-background);
    --p-paginator-nav-button-hover-color: #fff;
  }
}
