<header>
  <div class="container mx-auto px-4 py-3">
    <nav class="grid grid-cols-12 items-center">

      <div class="col-span-8 md:col-span-3 flex items-center space-x-3">
        <img src="/assets/images/logo.png" alt="Logo" class="w-12 h-12 object-contain">
        <span class="font-bold text-xl">Cue Frenzy</span>
      </div>
      
      <ul class="hidden md:flex md:col-span-6 items-center justify-center space-x-6">
        <li><a class="button" [routerLink]="'/'" [routerLinkActive]="'active'">Home</a></li>
        <li><a class="button" [routerLink]="'rankings'" [routerLinkActive]="'active'">Rankings</a></li>
      </ul>
      
      @if (user) {
        <div class="hidden md:flex md:col-span-3 items-center justify-end relative">
          <div class="flex items-center bg-black/30 px-4 py-2 rounded cursor-pointer" (click)="toggleDropdown()">
            <div class="w-8 h-8 rounded-full overflow-hidden mr-2">
              <img [src]="user.avatar" alt="Profile" class="w-full h-full object-cover">
            </div>
            <span class="text-white font-bold" [innerText]="user.username"></span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-2 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </div>
          
            @if (isDropdownOpen) {
              <div class="dropdown" (mouseleave)="toggleDropdown()">
                <ul>
                  <li>
                    <a [routerLink]="'/profile'" class="button">
                      <fa-icon [icon]="['fas', 'user']" class = "mr-1"></fa-icon>
                      Profile
                    </a>
                  </li>
                  <li>
                    <a (click)="logout()" class="button">
                      <fa-icon [icon]="['fas', 'key']" class = "mr-1"></fa-icon>
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
            }
        </div>
      } @else {
        <div class="hidden md:flex md:col-span-3 items-center justify-end">
          <a class="button" [routerLink]="'/login'" [routerLinkActive]="'active'">Login</a>
        </div>
      }

    </nav>
  </div>
</header>