<div class="profile">
    <div class="profile-card">
        <div class="header">
            <h2 class="text-2xl font-bold">Your Profile</h2>
        </div>
        
        <div class="content">
            
            <div class="row">
                <input 
                    #fileInput
                    type="file" 
                    (change)="changeAvatar($event)" 
                    accept="image/*"
                    class="hidden"
                />
                <div class="avatar group" (click)="fileInput.click()">
                    <img 
                        [src]="avatar" 
                        alt="Avatar" 
                        class="image"
                    />
                    <div class="avatar-icon opacity-0 group-hover:opacity-100">
                        <fa-icon 
                            [icon]="['fas', 'camera']" 
                            class="text-white text-2xl"
                        ></fa-icon>
                    </div>
                </div>
            </div>

            <!-- Username form -->
            <div class="pt-4">
                <form [formGroup]="usernameChangeForm" (ngSubmit)="changeUsername()" class="space-y-4">
                    <div>
                        <label>Username</label>
                        <input 
                            type="text"
                            formControlName="username" 
                        />
                        <div *ngIf="usernameChangeForm.get('username')?.invalid && usernameChangeForm.get('username')?.touched" class="error">
                            <span *ngIf="usernameChangeForm.get('username')?.errors?.['required']">Username is required.</span>
                        </div>
                    </div>
                    <button 
                        type="submit" 
                        [disabled]="usernameChangeForm.invalid || loading" 
                    >
                        Change Username
                    </button>
                </form>
            </div>

            @if (!hideChangePassword) {
                <div class="pt-4 border-t border-gray-200">
                    <form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()" class="space-y-4">
                        <div>
                            <label>Current Password</label>
                            <input 
                                type="password" 
                                formControlName="currentPassword" 
                            />
                            <div *ngIf="passwordChangeForm.get('currentPassword')?.invalid && passwordChangeForm.get('currentPassword')?.touched" class="error">
                                <span *ngIf="passwordChangeForm.get('currentPassword')?.errors?.['required']">Current password is required.</span>
                            </div>
                        </div>
                        <div>
                            <label>New Password</label>
                            <input 
                                type="password" 
                                formControlName="password" 
                            />
                            <div *ngIf="passwordChangeForm.get('password')?.invalid && passwordChangeForm.get('password')?.touched" class="error">
                                <span *ngIf="passwordChangeForm.get('password')?.errors?.['required']">New password is required.</span>
                                <span *ngIf="passwordChangeForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</span>
                            </div>
                        </div>
                        <div>
                            <label>Confirm Password</label>
                            <input 
                                type="password" 
                                formControlName="confirmPassword" 
                            />
                            <div *ngIf="passwordChangeForm.get('confirmPassword')?.invalid && passwordChangeForm.get('confirmPassword')?.touched" class="error">
                                <span *ngIf="passwordChangeForm.get('confirmPassword')?.errors?.['required']">New password is required.</span>
                                <span *ngIf="passwordChangeForm.get('confirmPassword')?.errors?.['passwordMismatch']">Passwords do not match.</span>
                            </div>
                        </div>
                        <button 
                            type="submit" 
                            [disabled]="passwordChangeForm.invalid || loading" 
                        >
                            Change Password
                        </button>
                    </form>
                </div>
            }
        </div>
    </div>
    <app-stats class="w-1/2"></app-stats>
</div>
